body {
    padding: 0px;
    margin: 0px;
} @font-face {
    font-family: "main";
    src: url("font/main.ttf");
} @font-face {
    font-family: "aqua";
    src: url("font/aqua.ttf");
} @font-face{
    font-family: "windy";
    src: url("font/windy.ttf");
} @font-face {
    font-family: "bread";
    src: url("font/bread.ttf");
} @font-face {
    font-family: "gothic_2";
    src: url("font/gothic_2.ttf");
} @font-face {
    font-family: "robins";
    src: url("font/robins.ttf");
} .upper {
    padding-left: 15%;
    padding-right: 15%;
} .logo {
    height: 100px;
} .photo {
    font-size: 0px;
} .intro {
    transition: 0.2s;
    background-color: rgb(243, 243, 243);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 7px;
    border: solid 1px rgb(100, 100, 100);
    height: auto;
    margin-top: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
} .intro:hover{
    transition: 0.3s;
    background-color: rgb(233, 233, 233);
    transform: scale(1.01);
} .notice_title {
    font-family: "windy";
    padding-left: 10px;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    color: black;
} .notice_ment {
    font-family: "bread";
    font-size: 20px;
    padding-left: 10px;
    color: black;
    font-weight: 100;
} .deliver_state {
    margin-left: 15%;
    margin-right: 15%;
} .deliver_title {
    font-family: "main";
    font-size: 40px;
} .deliver_list {
    margin-left: 15%;
    margin-right: 15%;
    font-family: "bread";
    font-size: 24px;
    margin: 0px;
} .deliver_list_detail {
    font-family: "bread";
    font-size: 24px;
    background-color: cadetblue;
    padding-bottom: 30px;
} .blank {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
}