#bar {
    background-color: orange;
    margin: none;
    margin-left: 0px;
    padding: 10px;
    font-size: 25px;
} #chpw {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 30px;
} body {
    margin: 0px;
    padding: 0px;
} @font-face {
    font-family: "cotton";
    src: url("../font/contton_candy.ttf");
    font-family: "maple";
    src: url("../font/maplestory.ttf");
} @font-face {
    font-family: gothic;
    src: url("../font/HancomGothic.ttf");
} .nav_bar {
    float: right;
    margin-top: none;
    font-family: "maple";
    margin-left: 40px;
    color: black;
    font-style: 25px;
} .blank {
    padding-left: 7%;
    font-style: 25px;
} .dropbtn {
    background-color: orange;
    color: black;
    float: right;
    font-family: "maple";
    font-style: 25px;
} .dropdown {
    position: relative;
    display: inline-block;
} .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 27px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: "maple";
    text-decoration: none;
    display: block;
    font-size: 18px;
} .dropdown-content a:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
} .dropdown:hover > .dropdown-content {
    opacity: 1;
    visibility: visible;
    display: block;
} .dropdown > .dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition-delay: 3s;
} .dropdown:hover .dropbtn {
    color: white;
    cursor: pointer;
} .developer-info {
    font-family: "maple";
    font-size: 40px;
    font-weight: 300;
    padding: 20px;
    color: orange;
} .developer-gi {
    font-family: "maple";
    font-size: 30px;
    font-weight: 300;
    padding: 15px;
} .develop-year {
    font-family: "maple";
    font-weight: 200;
    font-size: 25px;
    padding: 10px;
    color: grey;
} .dev-info {
    padding: 15px;
} .dev-photo {
    border-radius: 15px;
} .nick {
    font-family: "maple";
    font-weight: 100;
    font-size: 25px;
    padding: 5px;
} .role {
    font-family: "maple";
    font-weight: 100;
    font-size: 18px;
    padding: none;
    color: grey;
} .happy {
    font-family: "maple";
    font-size: 40px;
    font-weight: 300;
    padding: 20px;
    color: black;
} .row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} .card-container {
    padding: 5px;
} .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    break-after: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
} .ssam-info {
    width: 40%;
    border-radius: 5px;
    outline: black;
} .info-body {
    padding: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    font-family: "gothic";
    font-size: 17px;
    font-weight: 200;
} .member {
    background-color: rgb(48, 48, 48);
    font-family: "maple";
    border-radius: 10px;
    float: right;
    color: white;
    font-size: 20px;
} .ssam-list {
    padding: 20px;
} .welcome {
    font-family: "maple";
    font-size: 40px;
    padding: 30px;
    font-weight: 200;
} .goto {
    font-family: "maple";
    font-size: 25px;
    padding: 20px;
    font-weight: 200;
} .dev-ment {
    font-family: "maple";
    font-size: 20px;
    font-weight: 100;
} .container {
    transition: 0.3s;
    width: 60%;
    height: auto;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
} .role-box {
    width: 50%;
    height: auto;
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
    transition: 0.3s;
} .role-sub {
    font-family: "maple";
    font-size: 20px;
    font-weight: 100;
    padding: 13px;
} .snsBtn {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
} .snsBtn:hover {
    cursor: pointer;
} .instagram {
    width: 40px;
} .facebook {
    width: 40px;
} .container:hover {
    background-color: rgb(226, 226, 226);
    transform: scale(1.05);
    transition: 0.3s;
} .role-box:hover {
    background-color: rgb(202, 202, 202);
    transform: scale(1.05);
    transition: 0.3s;
}