#bar {
    background-color: orange;
    margin: none;
    margin-left: 0px;
    padding: 10px;
    font-size: 25px;
} #chpw {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 30px;
} body {
    margin: 0px;
    padding: 0px;
} @font-face {
    font-family: "cotton";
    src: url("../font/contton_candy.ttf");
    font-family: "maple";
    src: url("../font/maplestory.ttf");
} @font-face {
    font-family: gothic;
    src: url("../font/HancomGothic.ttf");
} .nav_bar {
    float: right;
    margin-top: none;
    font-family: "maple";
    margin-left: 40px;
    color: black;
    font-style: 25px;
} .blank {
    padding-left: 7%;
    font-style: 25px;
} .dropbtn {
    background-color: orange;
    color: black;
    float: right;
    font-family: "maple";
    font-style: 25px;
} .dropdown {
    position: relative;
    display: inline-block;
} .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 27px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: "maple";
    text-decoration: none;
    display: block;
    font-size: 18px;
} .dropdown-content a:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
} .dropdown:hover > .dropdown-content {
    opacity: 1;
    visibility: visible;
    display: block;
} .dropdown > .dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition-delay: 3s;
} .dropdown:hover .dropbtn {
    color: white;
    cursor: pointer;
}